.button-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.button-menu .icon-cross {
    display: none;
}

.button-menu.is-open .icon-cross {
    display: block;
}

.button-menu.is-open .icon-menu {
    display: none;
}