.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media screen and (max-width:767px) {
        display: none;
        
    }

    @media screen and (min-width: 768px) {
      display: block;
      margin: 0;
      padding: 0;
      align-self: center;
      margin-left: auto;
      
 
    
     
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  
  }

//  & &__item + &__item {
//     margin-left: 50px;  
//  }
 
  & &__link:hover,
  & &__link:focus {
    color: $accent-color;
  }
}

.contacts__link {
    display: flex;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    
    transition: color 250ms $timing-fn;
    
    @media screen and (min-width: 768px) { 
    // .contacts__link:not(:last-child) {
      padding-bottom: 10px;
    
  }

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.contacts__icon {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 10px;
    fill: currentColor;
}

