.feature__container {
    padding-bottom: 60px;
    padding-top: 60px;
    
    @media screen and (min-width:1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
        
    }
}

.feature {
    margin: 0;
    padding: 0;
  

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
        
    }
}

.feature .feature__item {
    @media screen and (max-width: 767px){
        margin-bottom: 30px;
        
    }
    @media screen and (min-width: 768px) {
        margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc(100% / 2 - 30px);
    }
    @media screen  and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
    }        
    }

.feature__item .feature__thumb {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bgc-accent ;
        height: 120px;
        margin-bottom: 30px;
    }

.feature__item .feature__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $primary-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    text-align: center;
    }

.feature .feature__text {
        margin-top: 0;
        margin-bottom: 0;
        color: $title-text-color;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
    }

  
