.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bgc-main;
}

.footer-address{
    display: block;
    align-self: baseline;

    &__text {
    margin: 0;
    padding: 0;
    color: $primary-bg-color;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    padding-bottom: 9px;
    padding-top: 20px;
}

    &__logo {
    color: $primary-bg-color;
    
}
}

.address-nav {
    margin: 0;
    padding: 0;

& &__link {
    color: rgba(255 ,255 ,255 ,0.6 );
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
}

& &__item:not(:last-child){
    padding-bottom: 9px;
}
}

.footer-nav {
    display: block;
    margin-left: 70px;

    align-self: baseline;
    

& &__title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: $primary-bg-color;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;

}
}


.footer-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
   
    &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: $primary-bg-color; 
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: color 250ms $timing-fn, background-color 250ms $timing-fn;
}
&__link:hover,
&__link:focus {
    background-color: $accent-color;
    color: $primary-bg-color;
}
&__icon{
    fill: $primary-bg-color;
    height: 44px;
} 

& &__item:not(:last-child) {
    margin-right: 10px;
}
}
